.note-card {
  background-color: gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr auto auto auto;
  gap: 0.75rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 400px;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.note-card h3 {
  font-size: 1.9rem;
  margin: 0;
  overflow-wrap: break-word;
  overflow: auto;
}

.note-card p {
  font-size: 1.5rem;
  color: rgb(210, 210, 210);
  margin: 0;
  overflow-wrap: break-word;
  overflow: auto;
}

.note-card small {
  font-size: 0.875rem;
  color: rgb(210, 210, 210);
}

.note-card button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}
.button-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, auto);
  height: clamp(1rem, 2rem, 5rem);
}
.edit-button {
  background-color: rgb(69, 69, 69);
  &:hover {
    background-color: rgb(101, 101, 101);
  }
}
.delete-button {
  background-color: rgb(52, 52, 52);
  &:hover {
    background-color: rgb(69, 69, 69);
  }
}
.show-full-button {
  background-color: rgb(45, 45, 45);
  &:hover {
    background-color: rgb(52, 52, 52);
  }
}
main#notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}
