@import "./form.css";

.modalParent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  height: 100%;
  display: grid;
  place-items: center;
}
.modal-content {
  background-color: rgb(107, 107, 107);
  border-radius: 8px;
  width: 450px;
  padding: 1.5rem;
  animation: fadeInUp 0.25s cubic-bezier(0, 1, 0, 1);
}

.modal-content header {
  background-color: rgb(15, 15, 15);
  display: grid;
  border-radius: 8px;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal-content header h2 {
  font-size: 1.75rem;
  margin: 0;
}

.modal-content header button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 3rem;
  color: red;
}

.modal-content header button:hover {
  color: rgba(255, 0, 0, 0.5);
}

#viewTitle {
  overflow: auto;
}
#viewContent {
  font-size: 1.5rem;
  color: white;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 350px;
}
